.buttons {
    position: absolute;
    display: flex;
    column-gap: 10px;
    position: relative;
    width: 80px;
    margin: 0 1px;
    padding: 10px 15px 10px 0px;
}

    .buttons .Confirmbtn {
        position: absolute;
        width: 100%;
        height: 30px;
        border-radius: 40px;
        padding: 5px 70px;
        padding-left: 16px;
        outline: none;
        border: 1px solid black;
        text-align: center;
        font-weight: bold;
        color: var(--blue);
        margin-left: 1px;
    }

        .buttons .Confirmbtn:hover {
            color: var(--white);
            background: var(--blue);
        }


.back-card {
    position: relative;
    background: blue;
    width: 80px;
    height: 80px;
}